h1{
	text-align: center;
	font-size: 24pt;
	color: blue;
}
body{
	background-color: lightblue;
	display: grid;
	grid-template-columns: 21% 50% 29%;
	grid-column-gap: 15px;
}
#main{
	margin-top: 8em;
	overflow: hidden;
	background-color: white;
	border-radius: 50%;
	width: 600px;
	height: 600px;
	border: lightgreen 5px solid;
	margin-right: 0px;
}
#game{
	overflow: hidden;
	margin: auto;
	width: 400px;
	height: 400px;
	border: 5px solid lightgreen;
	display: block;
	border-radius: 0%;
	position: relative;
	top: 15%;
}
.gamebutton{
	margin:auto;
	margin-top: 2em;
	overflow: hidden;
	background-color: lightpink;
	width: 70px;
	height: 70px;
	font-size: 8pt;
	display: block;
	border: 2px solid black;
	border-radius: 50%;
}
#rows{
	margin: auto;
	overflow: hidden;
	background-color: lightpink;
	width: 100px;
	height: 20px;
	font-size: 8pt;
	display: block;
	border: 2px solid black;
}
.gamebutton:hover{
	cursor: pointer;
	background-color: lightgreen;
}
#buttons{
	display: inline-flex;
	flex-direction: column;
	float: left;
	margin-left: 13em;
	background-color: white;
	border: 5px lightgreen solid;
	border-radius: 10px;
	padding: 1em;
}
#info{
	background-color: white;
	width: 400px;
	height: 400px;
	border: 5px lightgreen solid;
	color:black;
	font-family: "Arial", san-serif;
	font-size: 16pt;
	padding: 1em;
	border-radius: 20px;
	position:relative;
	top: 15%;
	right: 15%;
}