body, html{
	background-color: black;
	display: grid;
	height: 100%;
	overflow: hidden;
}
#orbit-space-1{
	width: 400px;
	height: 400px;
	position: relative;
	top: -100px;
	left:-100px;
	animation: orbit 12s linear infinite reverse;
	-webkit-animation:orbit 12s linear infinite reverse;
	border-radius: 50%;
	overflow: visible;
	border: dashed 2px #2e4dff;
}
#orbit-space-2{
	width: 500px;
	height: 500px;
	top:-50px;
	left:-50px;
	position: relative;
	animation: orbit 20s linear infinite;
	-webkit-animation:orbit 20s linear infinite;
	border-radius: 50%;
	overflow: visible;
	border: dashed 2px #ff2e38;
}
#orbit-space-3{
	width: 600px;
	height: 600px;
	top: -50px;
	left:-50px;
	position: absolute;
	animation: orbit 20s linear infinite;
	-webkit-animation:orbit 20s linear infinite;
	border-radius: 50%;
	overflow: visible;
	border: dashed 2px #38ff2e;
}
#orbiter-1{
	width: 60px;
	height: 60px;
	position:absolute;
	top:30px;
	left:30px;
	background-color:#2e4dff;
	border-radius: 50%;
	display: block;
}
#orbiter-2{
	width: 40px;
	height: 40px;
	position:absolute;
	left:60px;
	top:50px;
	background-color:#ff2e38;
	border-radius: 50%;	
	display: block;
}
#orbiter-3{
	width: 30px;
	height: 30px;
	top:76px;
	left:70px;
	position:absolute;
	background-color:#38ff2e;
	border-radius: 50%;
	display: block;
}
#orbiter-1:hover{background-color: lightblue;}
#orbiter-2:hover{background-color: blue;}
#orbiter-3:hover{background-color: yellow;}
#theSun{
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #ff902e;
}
#info{
	position: fixed;
	left: 45%;
	top: 45%;
	width: 150px;
	height: 75px;
	font-size: 15pt;
	color: white;
	font-weight: bolder;
	font-family: "Verdana", san-serif;
	border-radius: 50%;
	text-align: center;
	padding-top: 1.2em;
}


@keyframes orbit{
	100% {transform: rotate(360deg);}
}