<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="https://github.com/gmertz">
  <img src="{{ site.baseurl | replace: '//' '/' }}/img/logo.png" width="30" height="30" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item-active">
        <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/conway">Conway</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/snake">Snake</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/graphics">Graphics</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>
